repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
        language_version: python3.10
      - id: ruff-format
        language_version: python3.10

  - repo: https://github.com/pycqa/pylint
    rev: v3.2.7
    hooks:
      - id: pylint
        args:
          - "--rcfile=.pylintrc"
          # đảm bảo import theo layout src/
          - "--init-hook=import sys, os; sys.path.insert(0, os.getcwd() + '/src')"
        language_version: python3.10

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        language_version: python3.10
        additional_dependencies: [] # thêm types-... nếu cần
