name: Lint
on:
  pull_request:
  push:
    branches: [main]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: "3.10" }
      - run: pip install ruff pylint
      # - run: ruff check . # fail if issues
      - run: pylint --rcfile=.pylintrc your_project tests
